html {
  user-select: none;
}

body {
  background: #BB9F7A;
  color: #ffff00;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2.5rem;
  -webkit-text-stroke: 1px black;
}

p {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2rem;
  -webkit-text-stroke: 2px black;
  text-shadow: 0 0 2px black;
}

#closeButton {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  cursor: pointer;
  background: radial-gradient(circle at 30% 20%, #CCBD67 0%, #BCA735 45%, #837425 80%);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.7), 0 0 0 1px #2d1b0b;
  border: none;
}

#closeButton::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: 50%;
  background:
    radial-gradient(circle at 30% 20%,
      #C92D18 0%,
      #AD3B21 45%,
      #792917 90%);
  box-shadow:
    inset 0 2px 4px rgba(255, 255, 255, 0.2),
    inset 0 -1px 5px rgba(0, 0, 0, 0.7);
  border: 1px #2d1b0b solid;
}

#closeButton svg {
  z-index: 1;
  stroke: #AE942E;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.8));
  position: relative;
  left: -4px;
  width: 30px;
  height: 30px;
  top: 1px;
}
